{% if dcache_use_voms %}
auth    optional   x509
auth    sufficient voms
map     optional   vorolemap
map     optional   gridmap
{% endif %}
{% if dcache_use_oidc %}
auth    sufficient oidc
map     sufficient multimap gplazma.multimap.file=/etc/dcache/multi-mapfile
{% endif %}
map     sufficient authzdb
session sufficient authzdb
#session sufficient omnisession
