{% if type in ["frontend","standalone"] %}
[zkDomain]
[zkDomain/zookeeper]

[dCacheDomain]
dcache.broker.scheme = core
[dCacheDomain/admin]
[dCacheDomain/poolmanager]
[dCacheDomain/topo]
[dCacheDomain/pnfsmanager]
pnfsmanager.default-retention-policy = REPLICA
pnfsmanager.default-access-latency = ONLINE
[dCacheDomain/nfs]
nfs.version = 4.1
nfs.loginbroker.tags = dcache-nfs

[dCacheDomain/gplazma]
[dCacheDomain/pinmanager]
[dCacheDomain/billing]
[dCacheDomain/httpd]
[dCacheDomain/cleaner-disk]
[dCacheDomain/frontend]
frontend.authn.basic=true
frontend.authn.protocol=http
frontend.authz.anonymous-operations=READONLY
### Input space description name on SpaceManager for vo
#frontend.srr.shares=cms:/cms,ops:/ops
#######################################################
frontend.srr.public=true


[XRootDDomain]
dcache.java.memory.heap=16384m
[XRootDDomain/xrootd]
xrootd.net.port={{ dcache_xrootd.port | default(1094) }}
xrootd.authz.read-paths = {{ dcache_xrootd.readpath | default('/') }}
xrootd.authz.write-paths = {{ dcache_xrootd.writepath | default('/') }}
[WebDavDomain]
dcache.java.memory.heap=16384m
[WebDavDomain/transfermanagers]
[WebDavDomain/webdav]
webdav.cell.name={{ dcache_webdav.cellname }}
webdav.authn.protocol={{ dcache_webdav.protocol | default('https') }}
webdav.redirect.on-read={{ dcache_webdav.redirect_on_read | default('false') }}
webdav.redirect.on-write={{ dcache_webdav.redirect_on_write | default('false') }}
webdav.root = {{ dcache_webdav.root | default('/') }}
webdav.service.transfermanager.timeout = 60
webdav.service.pool.timeout= 60000
webdav.limits.backlog=4096
webdav.limits.threads.max=3000
webdav.limits.queue-length=3000
{% endif %}

{% if type in ["backend","standalone"] %}
{% for volume in dcache_volumes %}
[${host.name}-{{ volume.name }}-Domain]
[{{ volume.name }}-Domain/pool]
pool.name={{ volume.name }}
pool.path={{ volume.path }}
#pool.wait-for-files=${pool.path}/data
{% endfor %}
{% endif %}
